body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #ffd6e3; /* Light pink background */
}

.calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ff007f; /* Dark pink border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.calculator__output {
    background-color: #fff; /* White display background */
    color: #ff007f; /* Dark pink text color for display */
    padding: 15px;
    border: 1px solid #ff007f; /* Dark pink border for display */
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator__key {
    font-size: 18px;
    padding: 15px;
    border: 1px solid #ff007f; /* Dark pink border for keys */
    border-radius: 5px;
    background-color: #ff66b2; /* Light pink button background */
    color: #fff; /* White text color for keys */
    cursor: pointer;
}

.calculator__key:hover {
    background-color: #ff007f; /* Dark pink on hover effect */
}

.calculator__key--operator {
    background-color: #ff007f; /* Dark pink background for operator keys */
}

.calculator__key--operator:hover {
    background-color: #ff66b2; /* Light pink on hover effect for operator keys */
}

.calculator__key--enter {
    grid-column: span 4; /* Make the equals key span two columns */
}
