body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #ffd6e3; /* Light pink background */
}

h2 {
    color: #ff007f; /* Dark pink text color */
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ff007f; /* Dark pink border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

input, button {
    font-size: 18px;
    padding: 15px;
    border: 1px solid #ff007f; /* Dark pink border for buttons */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #ff66b2; /* Light pink button background */
    color: #fff; /* White text color for buttons */
    cursor: pointer;
}

button:hover {
    background-color: #ff007f; /* Dark pink on hover effect */
}

#display {
    grid-column: span 4;
    background-color: #fff; /* White display background */
    color: #ff007f; /* Dark pink text color for display */
    width: 100%;
    margin-bottom: 10px;
}

.glitter {
    background-image: linear-gradient(45deg, #ff66b2, #ff007f, #ff66b2, #ff007f, #ff66b2); /* Glitter gradient */
    background-size: 400% 400%;
    animation: glitterAnimation 8s ease infinite;
}

@keyframes glitterAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
